@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme{
  --color-purple: hsl(246, 80%, 60%);
  --color-work-orange: hsl(15, 100%, 70%);
  --color-play-blue: hsl(195, 74%, 62%);
  --color-study-pink: hsl(348, 100%, 68%);
  --color-exercise-green: hsl(145, 58%, 55%);
  --color-social-purple: hsl(264, 64%, 52%);
  --color-selfcare-yellow: hsl(43, 84%, 65%);
  
  --color-darkNavy: hsl(226, 43%, 10%);
  --color-lessDarkNavy: hsl(235, 46%, 20%);
  --color-midPurple: hsl(235, 45%, 61%);
  --color-lightNavy: hsl(236, 100%, 87%);

  --font-rubik: 'Rubik', sans-serif;
}

.active{
  color: var(--color-white);
}